---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Advantages from '../components/Advantages.astro'
import Steps from '../components/Steps.astro'
import Dishes from '../components/Dishes.astro'
import Carousel from '../components/Carousel.astro'
import Instagram from '../components/Instagram.astro'
import Competency from '../components/Competency.astro'
import Discount from '../components/Discount.astro'
import Faqs from '../components/Faqs.astro'
import Sponsors from '../components/Sponsors.astro'
---

<Layout title="Clone Knoweats Landing Page"
	description="Cloning the web page from Knoweats with educational fines">
	
	<main>
		<SectionContainer id="advantages">
			<Advantages/>
		</SectionContainer>
		<SectionContainer id="steps">
			<Steps/>
		</SectionContainer>
		<SectionContainer id="dishes">
			<Dishes/>
		</SectionContainer>
		<Carousel/>
		<SectionContainer id="instagram">
			<Instagram/>
		</SectionContainer>
		<SectionContainer id="competency">
			<Competency/>
		</SectionContainer>
		<SectionContainer id="discount">
			<Discount/>
		</SectionContainer>
		<SectionContainer id="faqs">
			<Faqs/>
		</SectionContainer>
		<SectionContainer id="sponsors">
			<Sponsors/>
		</SectionContainer>
	</main>
</Layout>


