---
import Check from '../components/icons/Check.astro'
---

<article class="flex flex-row w-full mx-auto">
    <div class="mt-3 ml-20 w-full">
        <h2 class="text-[#2F695C] text-6xl font-bold mb-6 pt-20">
            <p>
                Come sano
                <br>
                toda la semana.
            </p>
        </h2>
        <ul>
            <li class="flex gap-x-2 flex-row"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Envíos a toda la península</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Sin suscripciones, sin compromisos.</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Tu comida de la semana en una entrega</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Sin cocinar, sin limpiar... <span class="font-bold">Listo en minutos!</span></p></li>
        </ul>
        <button class="w-60 rounded-md mt-5 bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">HAZ YA TU PEDIDO</p></button>
    </div>
    <div class="flex w-full justify-center">
        <img class="mr-40 pt-20 w-full h-[450px] rounded-xl" src="/public/cenital-mesa-platos-knoweats.webp" alt="">
    </div>
</article>