---
import Check from '../components/icons/Check.astro'
---

<article class="lg:flex lg:flex-row lg:w-full md:w-full md:flex md:flex-col-reverse">
    <div class="lg:mt-10 lg:pr-60 md:w-full lg:flex lg:justify-start lg:w-full md:justify-center md:items-center md:flex md:flex-col">
        <h2 class="text-[#2F695C] text-6xl font-bold mb-6 pt-20 md:pt-5 ">
            <p>
                Come sano
                <br>
                toda la semana.
            </p>
        </h2>
        <ul>
            <li class="flex gap-x-2 flex-row"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Envíos a toda la península</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Sin suscripciones, sin compromisos.</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Tu comida de la semana en una entrega</p></li>
            <li class="flex gap-x-2 flex-row mt-2"><span class="mt-1"><Check></Check></span><p class="text-xl pb-0.6 font-base text-black">Sin cocinar, sin limpiar... <span class="font-bold">Listo en minutos!</span></p></li>
        </ul>
        <button class="w-60 rounded-md mt-5 bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">HAZ YA TU PEDIDO</p></button>
    </div>
    <div class="lg:w-5/6 lg:mr-16 lg:mt-12 md:w-full md:mt-5 md:flex md:justify-center">
        <img class="lg:w-10/12 lg:rounded-xl md:rounded-xl md:w-11/12 md:pl-3 " src="/public/cenital-mesa-platos-knoweats.webp" alt="Imagen mesa cenutal de platos">
    </div>
</article>