<section class="grid grid-cols-2 w-5/6 mt-8 justify-center items-center border rounded-xl bg-[#e7dfce]">
    <div class="flex flex-col justify-center ml-16">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                Tradición mediterránea
            </h2>
        </header>
        <p class="text-lg font-light min-w-full text-black mt-5 text-justify">
            Tanto Dani como Carlos nacieron en Benidorm y han vivido la gastronomía como un medio de vida muy habitual en la zona, 
            que además, posee una <strong class="font-bold">gran tradición culinaria.</strong>
        </p>
        <p class="text-lg font-light min-w-full text-black mt-2 text-justify">
            Ahora ellos desde La Nucía, un pueblo vecino, quieren llevar <strong class="font-bold">los mejores sabores</strong> al resto de la península.
        </p>
    </div>
    <div class="flex justify-end px-5 py-6">
        <img class="w-[400px] h-auto rounded-xl" src="/public/bloc_5-img.webp" alt="Imagen del envasado">
    </div>
</section>