<section class="grid grid-cols-2 w-5/6 mt-8 justify-center items-center border rounded-xl bg-[#ecf1ee]">
    <div class="flex flex-col justify-center ml-16">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                De dónde venimos
            </h2>
        </header>
        <p class="text-lg font-light min-w-full text-black mt-5 text-justify">
            En su último año de carrera, Dani centra su interés en la idea de ayudar a la gente a <strong class="font-bold">comer bien sin esfuerzo</strong>, este fue el primer paso de Knoweats.
        </p>
        <p class="text-lg font-light min-w-full text-black mt-2 text-justify">
            Para hacer esta idea realidad, propone el proyecto a una empresa familiar con <strong class="font-bold">más de 30 años de experiencia</strong> en el sector de la restauración con <strong class="font-bold">sede en La Nucía (Alicante). </strong>
            Y ahí, junto a su amigo Carlos (quién se encargaría de la parte visual), emprenden su andadura en el mundo de la gastronomía.
        </p>
    </div>
    <div class="flex justify-center items-center mt-4">
        <img class="w-[400px] h-auto" src="/public/bloc_1-img.webp" alt="Imagen de los creadores de Knoweats">
    </div>
</section>