<section class="grid grid-cols-4 w-5/6">
    <div class="flex col-span-2">
        <img class="w-7/12 h-auto rounded-xl" src="/public/bloc_6-img.webp" alt="Imagen de los creadores de Knoweats">
    </div>
    <div class="flex flex-col justify-center col-span-2">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                Apostando por un mundo mejor
            </h2>
        </header>
        <p class="text-xl font-light min-w-full text-black mt-5 text-justify">
            Nos preocupa el planeta en el que  vivimos, por eso, nos hemos comprometido a <strong class="font-bold">compensar el uso de plástico</strong> en nuestras bandejas de comida.
        </p>
        <p class="text-xl font-light min-w-full text-black mt-2 text-justify">
            Utilizamos envases de plástico fácilmente reciclable pero además, gracias a nuestros amigos de <strong class="font-bold">Gravity Wave</strong>, por cada bandeja que utilizamos, 
            recogemos el equivalente en residuos plásticos vertidos en nuestro mar Mediterráneo, obteniendo el <strong class="font-bold">certificado "plastic neutral".</strong>
        </p>
        <button class="w-60 mt-4 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-2xl font-bold p-6 inline-block">SABER MÁS</p></button>
    </div>
</section>