<section class="flex flex-row gap-x-5 justify-center w-5/6">
    <div class="flex justify-center">
        <img class="w-full h-auto rounded-xl" src="/public/bloc_2-img.webp" alt="Imagen de los creadores de Knoweats">
    </div>
    <div class="flex flex-col justify-center ml-32">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                A dónde vamos
            </h2>
        </header>
        <p class="text-xl font-light min-w-full text-black mt-5 text-justify">
            Tras ya más de 4 años desde el inicio de este proyecto, de <strong class="font-bold">más de 150.000 platos vendidos</strong>, seguimos con la ilusión intacta y con ganas de mejorar cada día.
        </p>
        <p class="text-xl font-light min-w-full text-black mt-2 text-justify">
            Nuestro objetivo no es otro que seguir haciéndoos <strong class="font-bold">la vida más fácil</strong> cocinando por vosotros con el mejor producto y los mejores cocineros.
        </p>
    </div>
</section>