<section class="grid grid-cols-2 w-5/6 mt-8 justify-center items-center border rounded-xl bg-[#ecf1ee]">
    <div class="flex flex-col justify-center ml-16">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                Cómo lo hacemos
            </h2>
        </header>
        <p class="text-lg font-light min-w-full text-black mt-5 text-justify">
            <strong class="font-bold">La clave</strong> para que nuestros platos se mantengan en perfectas condiciones hasta que os llegan y los consumís, <strong class="font-bold">es la temperatura. </strong>
            Utilizamos un cuidadoso sistema de envasado denominado "cook and chill", con el que envasamos en caliente y bajamos rápidamente la temperatura de los platos evitando la proliferación de microorganismos y consiguiendo alargar la vida del producto.
        </p>
        <p class="text-lg font-light min-w-full text-black mt-2 text-justify">
            Después salen de nuestras instalaciones en <strong class="font-bold">transporte refrigerado</strong> hasta que llega a vuestras neveras, 
            el hecho de que no se pierda la <strong class="font-bold">línea de frío</strong> hace que se mantengan en perfectas condiciones.
        </p>
    </div>
    <div class="flex justify-end px-5 py-6">
        <img class="w-[400px] h-auto rounded-xl" src="/public/bloc_3-img.webp" alt="Imagen del envasado">
    </div>
</section>