<section class="grid grid-cols-4 w-5/6">
    <div class="flex col-span-2">
        <img class="w-7/12 h-auto rounded-xl" src="/public/bloc_4-img.webp" alt="Imagen de los creadores de Knoweats">
    </div>
    <div class="flex flex-col justify-center col-span-2">
        <header class="mt-2">
            <h2 class="font-bold text-black text-4xl">
                Nuestras instalaciones
            </h2>
        </header>
        <p class="text-xl font-light min-w-full text-black mt-5 text-justify">
            Nuestras cocinas están situadas <strong class="font-bold">en La Nucía (Alicante).</strong> Aquí se cocinan todos los platos y se envían cada lunes a cualquier punto de la península.
        </p>
    </div>
</section>