<section class="block overflow-hidden relative w-max bg-[#769E94]">
    <div class="flex flex-row justify-center items-center">
        <span class="font-bold text-[45px] py-10 relative whitespace-pre w-full text-white section-content">¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  · ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate  ·  ¡Más que comida!  ·  Somos plastic neutral  ·  +1500kg de plástico recogidos del mar  ·  Gravity Wave certificate </span>
    </div>
</section>

<style>
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .section-content{
        animation: slide 400s linear infinite;
    }
</style>