<section class="w-5/6 justify-center ml-16 flex flex-col border rounded-xl bg-[#ecf1ee]">
    <header class="flex flex-col justify-center items-center mt-8">
        <h2 class="text-xl font-light italic text-black">¿LISTO PARA RECUPERAR TU TIEMPO?</h2>
        <h2 class="font-bold text-black text-5xl">Hacemos tu vida más fácil</h2>
    </header>
    <article class="flex justify-center items-center mt-7">
        <img class="w-10/12 h-auto pb-4" src="/public/tabla-comparativa-knoweats.svg" alt="Tabla comparativa competencia">
    </article>
</section>