<footer class="flex flex-row justify-between sticky mx-auto pt-2 md:px-4 w-screen top-0 bg-[#2F695C]">
    <div class="flex mx-auto flex-col mt-7 gap-y-2">
        <img class="w-36 cursor-pointer" src="/public/logo_knoweats.avif" alt="Logo de Knoweats">
        <div class="flex flex-row mt-3 gap-x-4">
            <a href="https://www.facebook.com/Knoweats/" target="_blank" rel="nooopener noreferrer">
                <img class="size-8 flex cursor-pointer" src="/public/facebook.webp" alt="Logo de facebook">
            </a>
            <a href="https://www.instagram.com/Knoweats/" target="_blank" rel="nooopener noreferrer">
                <img class="size-8 flex cursor-pointer" src="/public/instagram.webp" alt="Logo de instagram">
            </a>
        </div>
    </div>
    <div class="flex flex-col mx-auto mt-7 pb-96">
        <h3 class="font-semibold text-white text-xl mb-3">Empresa</h3>
        <div class="flex flex-col gap-y-2">
            <a class="text-white text-lg font-thin" href="#">¿Como funciona?</a>
            <a class="text-white text-lg font-thin" href="#">¿Quiénes somos?</a>
            <a class="text-white text-lg font-thin" href="#">Sistemas de Envíos</a>
            <a class="text-white text-lg font-thin" href="#">Plastic Neutral</a>
        </div>
    </div>
    <div class="flex flex-col mx-auto mt-7 pb-96">
        <h3 class="font-semibold text-white text-xl mb-3">Productos y servicios</h3>
        <div class="flex flex-col gap-y-2">
            <a class="text-white text-lg font-thin" href="#">Menú de la semana</a>
            <a class="text-white text-lg font-thin" href="#">Comidas para empresa</a>
            <a class="text-white text-lg font-thin" href="#">Recargar el monedero</a>
        </div>
    </div>
    <div class="flex flex-col mx-auto mt-7 pb-96">
        <h3 class="font-semibold text-white text-xl mb-3">Información</h3>
        <div class="flex flex-col gap-y-2">
            <a class="text-white text-lg font-thin" href="#">Preguntas frecuentes - <br>Knoweats!</a>
            <a class="text-white text-lg font-thin" href="#">Política de privacidad</a>
            <a class="text-white text-lg font-thin" href="#">Términos y condiciones de uso</a>
            <a class="text-white text-lg font-thin" href="#">Aviso legal</a>
            <a class="text-white text-lg font-thin" href="#">Envíos</a>
            <a class="text-white text-lg font-thin" href="#">Devoluciones</a>
            <a class="text-white text-lg font-thin" href="#">GDPR Compliance</a>
        </div>
    </div>
    <div class="flex flex-col mx-auto mt-7 pb-96">
        <h3 class="font-semibold text-white text-xl mb-3">Contacto</h3>
        <div class="flex flex-col gap-y-2">
            <a class="text-white text-lg font-thin" href="#">Contacta con nosotros</a>
            <a class="text-white text-lg font-thin" href="mailto:info@knoweats.com">info@knoweats.com</a>
            <a class="text-white text-lg font-thin" href="#">¡Pregúntanos por WhatsApp!</a>
        </div>
    </div>
</footer>