<section class="flex flex-row w-5/6 mt-10 gap-x-48">
    <div class="flex justify-center w-full">
        <img class="w-full h-[1500]" src="/public/como-funciona-img1.webp" alt="Imagen elegir platos">
    </div>
    <div class="flex flex-col gap-y-2 justify-center">
        <h3 class="font-['Fraunces'] font-bold text-4xl text-black">Elige los platos que más te gusten</h3>
        <p class="text-wrap text-black text-xl">
            <strong>Cada lunes </strong>estrenamos carta con <strong>nuevos platos</strong> para que disfrutes de la mejor cocina mediterránea.
            <br><br>Sólo tienes que elegir los platos que quieras comer la siguiente semana y nuestro equipo de cocina se pondrá manos a la obra. 
            Todos los platos están <strong>diseñados</strong> por el equipo de <strong>chefs y nutricionistas</strong> para que disfrutes de una <strong>dieta sana</strong>, 
            elaborada con la mejor materia prima <strong>local y de temporada</strong>.
        </p>
    </div>
</section>