<section class="flex flex-col w-5/6 justify-center items-center border rounded-xl bg-[#ecf1ee]">
    <header class="flex justify-center items-center mt-14">
        <h2 class="font-bold text-black text-3xl">
            ¿Has visto ya nuestros platos de esta semana?
        </h2>
    </header>
    <p class="text-lg font-light text-black mt-4">
        Échale un vistazo a la carta y la semana que viene olvídate de cocinar sin dejar de comer bien.
    </p>
    <footer class="flex justify-center items-center mt-5 pb-8">
        <button class="w-80 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">VER PLATOS</p></button>
    </footer>
</section>