<section class="flex flex-row-reverse w-5/6">
    <div class="flex justify-end w-full">
        <img class="w-8/12 h-[1500]" src="/public/como-funciona-img2.webp" alt="Imagen elegir platos">
    </div>
    <div class="flex flex-col gap-y-2 justify-center max-w-full">
        <h3 class="font-['Fraunces'] font-bold text-4xl text-black">Te los llevamos donde estés</h3>
        <p class="text-wrap mt-2 text-black text-xl">
            Te garantizamos que tus tápers llegarán estés donde estés <strong>totalmente frescos en una única entrega</strong> a partir del lunes siguiente a la fecha en la que hagas tu pedido.<br>
            ¡Ya no tienes que preocuparte en ir a comprar, ponerte a cocinar y limpiar!<br>
            Consulta nuestro <strong>sistema de envíos aquí:</strong><br>
        </p>
        <button class="w-80 mt-4 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-6 inline-block">SISTEMA DE ENVÍOS</p></button>
    </div>
</section>