<article class="w-5/6 flex flex-col ml-16 mt-10">
    <header class="flex flex-col justify-center items-center">
        <h2 class="text-xl font-light italic text-black">¿SABES COMER?</h2>
        <h2 class="font-bold text-black text-5xl">Gente que come con nosotros</h2>
    </header>
    
</article>