<div class="flex flex-row w-full gap-x-5 ml-4 justify-center items-center">
    <img class="w-1/6 h-auto" src="/public/cosmopolitan.webp" alt="Logo cosmopolitan">
    <img class="w-1/6 h-auto" src="/public/metropoli.webp" alt="Logo metropoli">
    <img class="w-1/6 h-auto" src="/public/alicanteplaza.webp" alt="Logo alicanteplaza">
    <img class="w-1/6 h-auto" src="/public/ocu.webp" alt="Logo ocu">
    <img class="w-1/6 h-auto" src="/public/rtve.webp" alt="Logo rtve">
</div>