<section class="w-5/6 justify-center ml-16 flex flex-col border rounded-xl bg-[#ecf1ee]">
    <header class="flex justify-center items-center mt-8">
        <h2 class="font-bold text-black text-5xl">Come bien en tres pasos</h2>
    </header>
    <article class="grid grid-cols-3 mt-7">
        <div class="mx-auto col-span-1">
            <img class="size-40 mx-auto hover:animate-fade-in" src="/public/step_1.svg" alt="Imagen Step 1">
            <h3 class="font-bold font-['Fraunces'] text-3xl text-black ml-20">1. Elige</h3>
            <p class="text-xl text-black mx-auto text-center mt-2">Nuestros chefs cocinan para ti, <br>una nueva carta cada semana.</p>
        </div>
        <div class="mx-auto col-span-1 gap-y-2">
            <img class="size-40 mx-auto hover:animate-fade-in" src="/public/step_2.svg" alt="Imagen Step 2">
            <h3 class="font-bold font-['Fraunces'] text-3xl text-black ml-12">2. Recibe</h3>
            <p class="text-xl text-black mx-auto text-center mt-2">Te lo enviamos a domicilio <br>en transporte refrigerado.</p>
        </div>
        <div class="mx-auto col-span-1 gap-y-2">
            <img class="size-40 mx-auto hover:animate-fade-in" src="/public/step_3.svg" alt="Imagen Step 3">
            <h3 class="font-bold font-['Fraunces'] text-3xl text-black ml-24">3. Calienta</h3>
            <p class="text-xl text-black mx-auto text-center mt-2">Tu comida aguantará 8 días en tu nevera <br>y la tendrás lista en 3 minutos.</p>
        </div>
    </article>
    <footer class="flex justify-center items-center my-10">
        <button class="w-60 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">A COMER SANO!</p></button>
    </footer>

</section>