---
import '@fontsource-variable/inter-tight'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string,
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="w-full h-10 flex justify-center items-center bg-[#d2b583]">
		<h5 class="text-white font-semibold p-3">
			<span>🚚PRÓXIMA ENTREGA MARTES 20🚚</span>
		</h5>
	</div>
	<body>
		<Header/>
		<slot />
		</Footer>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Inter Tight Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
		background-color:#FDFBF6 ;

	}

	@media (prefers-reduced-motion : reduce) {
		html{
			scroll-behavior: auto;
		}
	}
</style>
